#This is our gitignore for Java
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/recipe_box/nbproject/private/
/recipe_box/nbbuild/
/recipe_box/dist/
/nbdist/
/.nb-gradle/
build/
/recipe_box/src/main/java/com/spr/recipe_box/Constants/Keys.java
/recipe_box/src/main/resources/static
/recipe_box/src/main/resources/templates

### VS Code ###
.vscode/
*.pem

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# gitignore for react

# dependencies
/app/node_modules
/app/.pnp
.pnp.js

# testing
/app/coverage

# production
/app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# gitignore for Node express
/node_app/node_modules
/node_app/Keys.js
