<!DOCTYPE html>
<html>
  <head>
    <title>WebSocket Chat</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <section>
      <section>
        <button class="connect">Connect</button>
        <button class="disconnect">Disconnect</button>
      </section>
      <section>
        <input />
        <button class="send">Send</button>
      </section>
    </section>
    <main>
      <h2>Messages</h2>
    </main>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script src="/js/index.js"></script>
</html>
