.App {
  text-align: center;
}

.login-page-container img {
  content: url("./Images/PurpleSquirrel.png");
  margin: auto;
  margin-top: 5rem;
  display: block;
  height: 25rem;
  border-radius: 10%;
  transition: transform .5s ease-in-out;
}

.login-page-container img:hover {
  transform: scale(1.4);
}

